/*--------FOOTER--------*/
.logoPhone{
  height: 100px;
  width: 100px;
}

.fa-facebook-square{
  font-size: 30px;
}

.fa-twitter-square{
  font-size: 30px;
}

.fa-instagram{
  font-size: 30px;
}

.fa-rss-square{
  font-size: 30px;
}

.p1{
margin-top : 80px;
}

.p2{
margin-top: 80px;
}

.black
{
  background-color: black;
}

.footer-bottom{
  background-color: black;
}

.copyright{
  color: white;
  text-align: center;
}

.inputfooter{
  padding-top: 80px;
}

.inputfooter1, .inputfooter2, .textarea {
  margin-bottom: 10px;
}

.button1 {
  margin-top: 10px;
}

.imgcb1 {
  padding-left : 300px;
}
/*--------HEADER--------*/
a{
  color: black;
  font-weight: bold;
}
a:hover{
  color: #4267b2;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

#logobrand{
  width: 30%;
  height: 30%;
}

#logoBasket{
  width: 120%;
  height: 120%;
}
#checkoutImg{
  width: 90%;
height: 90%;
}

#generalNavbar {
  border-bottom: 2px solid black;
  background-color: #F6F6F6;
}
#secondNavbar {
  background-color: #F6F6F6;
}

button {color: inherit;
border: 0px;}

#basketButtonDelete{
  width: 30%;
}
.nav-item{ margin: 5%;}

/*--------CONTENT--------*/
.productBg{
  margin-top: 20px;
    background-color:#F6F6F6;
}
.productInfo{
    border-top: 4px solid #F6F6F6;
}
.productShop{
    /* visibility: hidden; */
    border-top: 4px solid #F6F6F6;
}

.product{
    margin-top: 2%;
}
